/AddTwoNumber.class
/AreaTriangle.class
/Average.class
/BasicCalculator.class
/CelciusToFahrenhite.class
/CircleArea.class
/CountDiscount.class
/DiscountFee.class
/DistanceConverter.class
/DoubleOperations.class
/FindAge.class
/HeightConvert.class
/IntOperations.class
/KmToMiles.class
/MilesConverter.class
/NumberHandshake.class
/PenDistribution.class
/PerimeterRectangle.class
/PowerCalculation.class
/ProfitLoss.class
/PurchasePrice.class
/QuotientAndRemainder.class
/SimpleInterest.class
/SquareSide.class
/VolumeEarth.class
/VolumeOfCylinder.class
/WelcomeToBridgeLabz.class
